<h1>Privacy</h1>

<p>This application does not store any kind of information. Any such information handled by this web application and the messenger platform are merely processed and disposed immediately.</p>