<h1>Terms of Service</h1>

<p>This web application is used solely for the purpose of promoting the upcoming event of an educational institution. We are not liable for any damages and misconduct that might result from this promotion.</p>